# Lab03-1: Operators and Strings

### Student ID: 2659993

#### Operators: Exercises 1-2 from Chapter 2

##### Exercise 1

In [3]:
# We’ve seen that n = 42 is legal. What about 42 = n?

42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (546313846.py, line 3)

- Answer: 42 = n is not the same as n = 42. It produces a syntax error.

In [4]:
# How about x = y = 1?

x = y = 1

- Answer: it is valid. X and Y are assigned the same value 1.

In [7]:
# In some languages every statement ends with a semi-colon, ;.
# What happens if you put a semi-colon at the end of a Python statement?

w = 3;
print(w);

3

- Answer: putting a semi-colon at the end of a statement does not seem to affect the code from running normally

In [8]:
# What if you put a period at the end of a statement?

z = 4.
print(z).

SyntaxError: invalid syntax (2514894257.py, line 4)

- Answer: apparently putting a period causes a syntax error when running the code.

In [11]:
# In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

x y

SyntaxError: invalid syntax (737226731.py, line 3)

- Answer: Python returns an error for this syntax.

##### Exercise 2

In [12]:
# The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

In [14]:
import numpy as np
r = 5
volume = (4 / 3) * np.pi * r**3
print(volume)

523.5987755982989

In [15]:
# Suppose the cover price of a book is $24.95, but bookstores get a 40% discount.
# Shipping costs $3 for the first copy and 75 cents for each additional copy.
# What is the total wholesale cost for 60 copies?

In [17]:
b = 60
bookstore_price = 24.95 * 0.6
shipping = 3 + 0.75 * (b - 1)
cost = (bookstore_price * b) + shipping
print(cost)

945.4499999999999

In [18]:
# If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile),
# then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [19]:
# 8:15 = 8.25 minutes; 7:12 = 7.2 minutes
total_time = 2 * (8.25*2 + 3*7.2)
print(total_time)

76.2

In [20]:
# 76.2 minutes = 1 hour, 16 minutes and 12 seconds

- Answer: You will get home for breakfast at 8:08 am

#### Strings: exercises 1-5 from Chapter 8

##### Exercise 2

In [22]:
# There is a string method called count that is similar to the function in Section 8.7.
# Read the documentation of this method and write an invocation that counts the number of a’s in 'banana'.

In [26]:
x = "banana"
print(x.count("a"))

3

##### Execise 3

In [1]:
# A string slice can take a third index that specifies the “step size”;
# that is, the number of spaces between successive characters.
# A step size of 2 means every other character; 3 means every third, etc.

# >>> fruit = 'banana'
# >>> fruit[0:5:2]
# 'bnn'
# A step size of -1 goes through the word backwards, so the slice [::-1] generates a reversed string.

# Use this idiom to write a one-line version of is_palindrome from Exercise 3.

In [7]:
def is_palindrome(word):
    if word[::-1] == word:
        return True
    else:
        return False

In [9]:
word = "noon"
is_palindrome(word)

True

##### Exercise 4

In [10]:
# The following functions are all intended to check whether a string contains any lowercase letters,
# but at least some of them are wrong. For each function, describe what the function actually does
# (assuming that the parameter is a string).

In [58]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

s = "suN"
any_lowercase1(s)

True

- Answer: The function returns True if the first letter of the string is lower case. Otherwise, it returns False.

In [29]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

any_lowercase2(s)

'True'

- Answer: this function is wrong because it puts "c" between quotation marks, thus it always returns True, no matter what is the value assigned to s.

In [40]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

any_lowercase3(s)

True

- Answer: it returns True if all the letters are lower case or only the first letter is capitalised. Otherwise, it returns false.

In [49]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

any_lowercase4(s)

True

- Answer: the function returns True if there is at least one lower case letter in the string, no matter the position. Otherwise, it returns False.

In [59]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

any_lowercase5(s)

False

- Answer: the function only returns True if all letters are lower case.

##### Exercise 5

In [60]:
# A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.

# To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

# Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

# You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

# >>> ord('c') - ord('a')
# 2
# Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.

# Potentially offensive jokes on the Internet are sometimes encoded in ROT13, which is a Caesar cypher with rotation 13. If you are not easily offended, find and decode some of them. Solution: https://thinkpython.com/code/rotate.py.

In [62]:
def rotate_word(string: str, num: int) -> str:
    result = ''
    for i in string:
        i = chr(ord(i) + num)
        result += i
    return result

string = "cheer"
num = 7
rotate_word(string, num)

'jolly'